# Java / Maven
**/target/
*.class
*.jar
*.war
*.ear

# Node / Frontend
**/node_modules/
frontend/dist/
frontend/.parcel-cache/
.npm/
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
.settings/
.project
.classpath
.factorypath

# Sistema
.DS_Store
Thumbs.db

# Configurações Locais
.env
.env.local
